

@{
    ViewBag.Title = "OrganisationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@{
    ViewData["Title"] = "Organisation | Master | NTS";
    ViewData["PageHeading"] = "Organisation";
    ViewData["PageSubtitle"] = "Manage organisation details";
}*@

<link href="~/Content/pages/organisation.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">

@*<style>
        .dataTables_wrapper {
            width: 100%;
            overflow-x: auto;
        }
    </style>*@

<div class="content-section organisation-page">
    <div class="table-card">
      
        <div class="table-toolbar">
            <div class="toolbar-left">
            
               Organisation
           
        </div>

            <div class="toolbar-right">
                @*<button class="btn btn-outline">
                <i class="fa fa-download"></i> Download CSV
            </button>
            <button class="btn btn-outline">
                <i class="fa fa-upload"></i> Upload CSV
            </button>*@
                <button class="btn btn-outline">
                    <i class="fa fa-file-export"></i> Export CSV
                </button>
                <a href="@Url.Action("Addorganisation", "Master")"
                   class="btn btn-primary" style="text-decoration:none">
                    <i class="fa fa-plus"></i> Add Organisation
                </a>
            </div>
        </div>

        <div class="table-wrapper">
            <table class="data-table" id="Org_List">
                <thead>

                    <tr>
                        <th>ID</th>
                        <th>Country ID</th>
                        <th>State ID</th>
                        <th>S.No</th>
                        <th>Code</th>
                        <th>Organisation Name</th>
                        <th>Primary Mobile Number</th>
                        <th>Alternate Mobile Number</th>
                        <th>Email</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Zip code</th>
                        <th>Primary Address</th>
                        <th>Alternate Address</th>
                        <th>Active Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>


</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            CallOrglist();
        });

        function CallOrglist() {
            $.ajax({
                url: '@Url.Content("~/")' + 'Master/OrgGrid',
                type: "GET",
                success: function (result) {

                    $('#Org_List').DataTable().destroy();

                    $("#Org_List").DataTable({
                        data: jQuery.parseJSON(result),
                        columns: [
                            { data: "ID" },
                            { data: "CountryID" },
                            { data: "StateID" },
                            {
                                data: null,
                                render: function (data, type, row, meta) {
                                    return meta.row + 1;
                                }
                            },
                            { data: "Code" },
                            { data: "Name" },
                            { data: "ContactNo" },
                            { data: "Mobile" },
                            { data: "Email" },
                            { data: "CountryName" },
                            { data: "StateName" },
                            { data: "City" },
                            { data: "Zip" },
                            { data: "Address1" },
                            { data: "Address2" },
                            {
                                data: "Active",
                                render: function (data) {
                                    return data == 1 ? "Yes" : "No";
                                }
                            },
                            {
                                render: function (data, type, row) {
                                    return `
                                        <a href="@Url.Action("Organisation", "Master")?ID=${row.ID}" class="bi bi-pencil-fill"></a>
                                        <span onclick="DeleteOrg(${row.ID})" class="bi bi-trash-fill"></span>
                                    `;
                                }
                            }
                        ],
                        columnDefs: [
                            { targets: [0,1,2], visible: false }
                        ],
                        paging: true,
                        ordering: true,
                        searching: true,
                        scrollX: true
                    });
                }
            });
        }

        function DeleteOrg(ID) {
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true
            }, function () {
                $.post('@Url.Content("~/")Master/OrgDelete', { ID: ID }, function (res) {
                    if (res.Result === "Success") {
                        swal("Deleted!", "Success", "success");
                        CallOrglist();
                    }
                });
            });
        }
    </script>
}





